<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Exclude the admin panel from rewriting
  RewriteCond %{REQUEST_URI} ^/admin/ [NC]
  RewriteRule ^ - [L]
  
  # Rewrite all other non-existent files/directories to index.html
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
